.skeleton {
  position: relative;
  overflow: hidden;
  height: 40px;
  margin-bottom: 10px;
}

.skeleton::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  animation: sweep 2s infinite;
  background-image: linear-gradient(
    to left,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
}

@keyframes sweep {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.skeleton-avatar {
  width: 35px;
  height: 35px;
  border-radius: 3px;
  background-color: rgba(157, 173, 127, 0.5);
}

.skeleton-author {
  position: absolute;
  left: 40px;
  right: 0;
  bottom: 30px;
  width: 120px;
  height: 10px;
  border-radius: 3px;
  background-color: rgba(157, 173, 127, 0.5);
}

.skeleton-description {
  position: absolute;
  left: 40px;
  right: 20px;
  bottom: 5px;
  height: 20px;
  border-radius: 3px;
  background-color: rgba(157, 173, 127, 0.5);
}
